/* ===== NAVBAR ======*/

@media only screen and (max-width: 400px) {}
/* shows elements in a column^*/

    ul {
        display: flex;
        flex-direction: column;
    }
    li {
        margin: 0;
    }
    a {
        display: block;
    }
    button {
        display: block;
        padding: 2vw;
        font-size: 2vh;
        background-color: aqua;
        border: none;
        outline: none;
        cursor: pointer;
    }
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
}

li  {
    list-style-type: none;
    margin: 0 2vw;
    font-size: 2vh;
}

a {
    text-decoration: none;
    padding: 1vw;
    font-family: monospace;
    display: block;
}

nav {
    width: 100vw;
    background-color: azure;
    padding: 1vw;
}

a:hover {
    background-color: aqua;
}

button {
    display: block;
    cursor: pointer
    align-self: flex-start;
}



/* ======= BODY =======*/

body {
    margin: 0;
}